{
  "botname": "Tipbot",
  "botid": "",
  "cname": "SYS",
  "ctick": "SYS",
  "prefix": "!",
  "discordKey": "",
  "discordAdminRole": "",
  "adminRoleID": "",
  "discordServer": "",
  "missionChannel": "",
  "missionPayOutsChannel": "",
  "missionReportsChannel",
  "giveawayChannel": "",
  "tradeChannel": "",
  "auctionChannel": "",
  "testnet": false,
  "tipChannel": "",
  "tipMin": 0.0001,
  "tipMaxDecimals": 4,
  "tradeTime": 5,
  "maxAuctionTimeDays": 5,
  "itemsPerPage": 5,
  "maxItems": 15,
  "blockURL": "",
  "mnemonic": ""
}
